/* Styles propres aux pages */

html {
    position: relative;
    min-height: 100%;
    background-color: #AA131F;
}
body {
    margin:5px !important; /* bas = hauteur du pied de page */
    background-color: #AA131F;
    line-height: 1.0 !important
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

#content-main {
  margin-top: 40px;
}

.well {
  background-color: white;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading a:after {
    content:"keyboard arrow down";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.md-60 {
  font-size: 60px !important;
}

#photo {
  font-size: 60px !important;
}
