<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8"/>
        <!--  Styles -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">

        <!--  Libs -->
		<script type="text/javascript" src="../lib/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/popup.js"></script>
    </head>

    <body>
        <div class="container" id="content-main">
            <div class="well text-center">
                <img class="img-responsive img-wecitizens" src="../icons/WeCitizensImage.png">
                <!--  To desactivate/active the search-->
                <label><INPUT type="checkbox" name="activate_search" id="checkbox" > Search through the web pages for politicians</label>
            </div>
        </div>
    </body>
</html>
