/* Styles propres aux pages */

html {
    position: relative;
    min-height: 100%;
    background-color: #AA131F;
}
body {
    margin-top: 40px !important; /* bas = hauteur du pied de page */
    background-color: #AA131F;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

#content-main {
  margin-top: 40px;
}

.well {
  background-color: white;
}
